@model IEnumerable<TaskListPoolLib.Task>

@{
Layout = "~/Views/Shared/_LayoutRegular.cshtml";
}
<script src="~/Scripts/Controllers/taskPoolController2.js"></script>
@Html.ActionLink("Groups", "TaskGroups")
<table id="tblTasks" class="table">
    <tr>
        <th>Task</th>
        <th>Created On</th>
        <th><span class="glyphicon glyphicon-cog"></span></th>
    </tr>
    
@foreach (var item in Model) {
    <tr id="row@(item.TaskId)">
        <td>
            <span id="lblBody@(item.TaskId)" style="display:inline-block;">
                @Html.DisplayFor(modelItem => item.Body)
            </span>
            <input id="txtBody@(item.TaskId)" type="text" style="display:none;" value="@Html.DisplayFor(modelItem => item.Body)" />
        </td>
        <td>
            <span id="lblCreatedOn@(item.TaskId)">@Html.DisplayFor(modelItem => item.CreatedOn)</span>
        </td>
        <td>
            <div id="divReg@(item.TaskId)" style="display:inline-block;">
                <button id="btnTaskEdit"
                        class="btn btn-info btn-md"
                        onclick="btnEditToggle_click(@(item.TaskId), true)">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button id="btnTaskDelete"
                        class="btn btn-info btn-md"
                        onclick="btnTaskDelete_click(@(item.TaskId))">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
            <div id="divEdit@(item.TaskId)" style="display:none;" >
                <button id="btnTaskOk"
                        class="btn btn-info btn-md"
                        onclick="btnTaskEdit_click(@(item.TaskId));">
                    <span class="glyphicon glyphicon-ok-sign"></span>
                </button>
                <button id="btnTaskCancel"
                        class="btn btn-info btn-md"
                        onclick="btnEditToggle_click(@(item.TaskId), false)">
                    <span class="glyphicon glyphicon-remove-sign"></span>
                </button>
            </div>
        </td>
    </tr>
}
    <tr>
        <td>
            <input id="txtBody0" type="text" />
        </td>
        <td />
        <td>
            <button id="btnTaskAdd"
                    class="btn btn-info btn-md"
                    onclick="btnTaskAdd_click()">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </button>
        </td>
    </tr>
</table>

