@model IisSiteViewerWebApp.Models.DirectoryModel

@{
    ViewBag.Title = "Site Directory";
}

<h2>Directory</h2>
@*@using (Html.BeginForm("IndexFilter", "Directory", FormMethod.Post, null))*@
@using (Html.BeginForm("", "Directory", FormMethod.Post))
{
@Html.AntiForgeryToken()
<fieldset>
    <legend>Filter</legend>
    <div>
        <div>Identity Type @Html.DropDownList("IdentityType",
EnumHelper.GetSelectList(typeof(Microsoft.Web.Administration.ProcessModelIdentityType)),
"All",
new { @class = "form-control" })
        </div>
        <div>Service Account @Html.DropDownList("ServiceAccount",
            Model.Data.SelectMany(x => x.Applications.Select(y => y.ApplicationPool.IdentityUser))
                 .Distinct()
                 .Select(x => new SelectListItem() { Text = x, Value = x }),
            "All")
            <button type="submit" name="action:Filter">Filter</button>
        </div>
        <div>
            Username @Html.TextBoxFor(m => m.NewUsername)
            Password @Html.TextBoxFor(m => m.NewPassword)
            <button type="submit" name="action:UpdatePassword">Update password</button>
        </div>
    </div>
</fieldset>
<table class="table">
    <tr>
        <th>Select</th>
        <th>Site</th>
        <th>State</th>
        <th>Applications</th>
    </tr>
    @foreach (var item in Model.Data)
    {
        <tr>
            <td><input type="checkbox" onchange="" /></td>
            <td>
                @(item.Name)
            </td>
            <td>
                @(item.State)
            </td>
            <td>
                <table class="table">
                    <tr>
                        <th>Select</th>
                        <th>Application</th>
                        <th>Bindings</th>
                        <th>Application Pool</th>
                        <th>PID</th>
                        <th>State</th>
                        <th>32-Bit</th>
                        <th>Pipeline Mode</th>
                        <th>Identity Type</th>
                        <th>Service Account</th>
                    </tr>
                    @foreach (var a in item.Applications)
                {
                        <tr>
                            <td><input type="checkbox" name="SelectedApplicationPools" value="@(a.ApplicationPool.Name)" /></td>
                            <td>@(a.Name)</td>
                            <td>
                                <table class="table">
                                    @foreach (var u in a.Uris.Select(x => x.ToString()).ToList())
                                    {
                                        <tr>
                                            <td>
                                                <a href="@(u)" target="_blank">@(u)</a>
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </td>
                            <td>@(a.ApplicationPool.Name)</td>
                            <td>@(a.ApplicationPool.ProcessId)</td>
                            <td>@(a.ApplicationPool.State)</td>
                            <td>@(a.ApplicationPool.Is32Bit)</td>
                            <td>@(a.ApplicationPool.PipelineMode)</td>
                            <td>@(a.ApplicationPool.IdentityType)</td>
                            <td>@(a.ApplicationPool.IdentityUser)</td>
                        </tr>
                    }
                </table>
            </td>
        </tr>
    }
</table>
}
